GIR.Integracao/Service References/ServicoColaborador/ConsultaColaborador6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://ws.cassi.com.br/v2/modelos/Colaborador" elementFormDefault="qualified" targetNamespace="http://ws.cassi.com.br/v2/modelos/Colaborador" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://10.1.100.26:8011/ServicoConsultaColaborador/Proxy/V1/ConsultaColaborador?SCHEMA%2FServicoConsultaColaborador%2FXsd%2FBusiness%2FConsultaColaboradorV2%2FXMLSchema_1012968756" namespace="http://ws.cassi.com.br/v1/modelos/UnidadeOrganizacional" />
  <xs:complexType name="Colaborador">
    <xs:sequence>
      <xs:element name="LoginColaborador" nillable="true" type="xs:string" />
      <xs:element name="NomeCompletoColaborador" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NomeResumidoColaborador" nillable="true" type="xs:string" />
      <xs:element name="EmailColaborador" nillable="true" type="xs:string" />
      <xs:element name="MatriculaColaborador" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NomeCargoColaborador" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroTelefoneColaborador" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://ws.cassi.com.br/v1/modelos/UnidadeOrganizacional" name="UnidadeOrganizacionalColaborador" nillable="true" type="q1:UnidadeOrganizacional" />
      <xs:element minOccurs="0" name="NomeGerenteColaborador" nillable="true" type="xs:string" />
      <xs:element name="CPFColaborador" nillable="true" type="xs:string" />
      <xs:element name="IsAtivo" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Colaborador" nillable="true" type="tns:Colaborador" />
  <xs:complexType name="ArrayOfColaborador">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Colaborador" nillable="true" type="tns:Colaborador" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfColaborador" nillable="true" type="tns:ArrayOfColaborador" />
</xs:schema>