GIR.Integracao/Service References/ServicoFornecedor/Consultafornecedor.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:tns="http://ws.cassi.com.br/v1/plano/" elementFormDefault="qualified" targetNamespace="http://ws.cassi.com.br/v1/endereco/" xmlns="http://www.w3.org/2001/XMLSchema">
  <complexType name="endereco">
    <sequence>
      <element name="logradouro" nillable="true" type="string" />
      <element name="numero" nillable="true" type="string" />
      <element name="complemento" nillable="true" type="string" />
      <element name="cep" nillable="true" type="string" />
      <element name="bairro" nillable="true" type="string" />
      <element name="municipio" nillable="true" type="string" />
      <element name="estado" nillable="true" type="string" />
    </sequence>
  </complexType>
</schema>