GIR.Integracao/Service References/ServicoUtilitarioConsulta/UtilitarioConsulta2.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:tns="http://ws.cassi.com.br/v1/Endereco/" elementFormDefault="qualified" targetNamespace="http://ws.cassi.com.br/v1/Endereco/" xmlns="http://www.w3.org/2001/XMLSchema">
  <element name="tipoEndereco" nillable="true" type="string" />
  <element name="bairro" nillable="true" type="string" />
  <element name="cep" nillable="true" type="string" />
  <element name="codigoIbgeMunicipio" nillable="true" type="int" />
  <element name="complemento" nillable="true" type="string" />
  <element name="handleEstado" nillable="true" type="int" />
  <element name="handleMunicipio" nillable="true" type="int" />
  <element name="logradouro" nillable="true" type="string" />
  <element name="nomeEstado" nillable="true" type="string" />
  <element name="nomeMunicipio" nillable="true" type="string" />
  <element name="numero" nillable="true" type="int" />
  <element name="siglaEstado" nillable="true" type="string" />
</schema>