GIR.Integracao/Service References/ServicoUnidadeOrganizacional/ServicoUnidadeOrganizacional4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://ws.cassi.com.br/v1/modelos/UnidadeOrganizacional" elementFormDefault="qualified" targetNamespace="http://ws.cassi.com.br/v1/modelos/UnidadeOrganizacional" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UnidadeOrganizacional">
    <xs:sequence>
      <xs:element name="CodigoUnidadeOrganizacional" type="xs:int" />
      <xs:element name="NomeUnidadeOrganizacional" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmailUnidadeOrganizacional" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UnidadeOrganizacional" nillable="true" type="tns:UnidadeOrganizacional" />
</xs:schema>