GIR.Integracao/Service References/ServicoGASC/ServicoGASC3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://webdev002:5323/GASC/ServicoGASC.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GASC.Servico.Retornos" />
  <xs:element name="ObterUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUsuario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObterUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/GASC.Servico.Retornos" minOccurs="0" name="ObterUsuarioResult" nillable="true" type="q1:RetornoUsuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarPerfisUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUsuario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarPerfisUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/GASC.Servico.Retornos" minOccurs="0" name="ListarPerfisUsuarioResult" nillable="true" type="q2:RetornoPerfisUsuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarDadosComplementaresUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUsuario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarDadosComplementaresUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/GASC.Servico.Retornos" minOccurs="0" name="ListarDadosComplementaresUsuarioResult" nillable="true" type="q3:RetornoDadosComplementaresUsuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarUsuariosPerfil">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="perfilUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarUsuariosPerfilResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/GASC.Servico.Retornos" minOccurs="0" name="ListarUsuariosPerfilResult" nillable="true" type="q4:RetornoUsuarios" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarUsuariosPerfilSistema">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="perfilUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sistema" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarUsuariosPerfilSistemaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/GASC.Servico.Retornos" minOccurs="0" name="ListarUsuariosPerfilSistemaResult" nillable="true" type="q5:RetornoUsuarios" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarSistemas">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarSistemasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/GASC.Servico.Retornos" minOccurs="0" name="ListarSistemasResult" nillable="true" type="q6:RetornoSistemas" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObterSistemaPorId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idSistema" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObterSistemaPorIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/GASC.Servico.Retornos" minOccurs="0" name="ObterSistemaPorIdResult" nillable="true" type="q7:RetornoSistema" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObterSistemaPorSigla">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="siglaSistema" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObterSistemaPorSiglaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/GASC.Servico.Retornos" minOccurs="0" name="ObterSistemaPorSiglaResult" nillable="true" type="q8:RetornoSistema" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AutenticarUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="senha" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AutenticarUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/GASC.Servico.Retornos" minOccurs="0" name="AutenticarUsuarioResult" nillable="true" type="q9:RetornoUsuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>